<table class="monster_table_search">
  <tr class="monster_table_header">
    <th class="monster_table_name">モンスター名</th>
    <th class="monster_table_pairs">配合元（両親）</th>
    <th class="monster_table_count">両親となる回数</th>
  </tr>
  <% @monster.each do |monster| %>
  <tr>
    <td class="monster_table_name"><%= monster.name %></td>
    <td class="monster_table_pairs"><%= simple_format(monster.pairs) %></td>
    <td class="monster_table_count"><%= monster.count %></td>
  </tr>
  <% end %>
</table>
