.main{
  margin: 30px;
  background-image: url(image-path("slime.jpeg"));
}
.hidden{
  display: none;
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.title{
  width: 580px;
  margin: auto;
  font-size: 36px;
  text-align: center;
  opacity: 0.95;
  background-color: rgb(250, 249, 246);
}

.search_wrapper{
  width: 580px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-color: rgb(250, 249, 246);
  opacity: 0.95;

  .search_status, .search_login{
    width: 100%;
    padding: 5px 10px;

  }

  .search_status_check{
    padding: 10px 0px;
  }

  .user_regist{
    padding: 10px 0px;
  }

}

.result_wrapper{
  width: 580px;
  margin: auto;
  opacity: 0.95;

  .monster_table_header_name, .monster_table_header_pairs, .monster_table_header_count{
    text-align: center;
    padding: 2px 5px;
  }

  .monster_table, .monster_table_default{
    text-align: center;
    background-color: rgb(217, 224, 222);
    padding:0px 3px;

    tr:nth-child(even){
      background-color: rgb(240, 237, 237);
    }

  }

}
