.hidden{
  display: none;
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.search_status{
  float: left;
}

.search_user{
  float: left;
}

.search_login{
  float: left;
}

.monster_table{
  float:left;
}
